body{
    margin: 0 auto;
    background-image: url("../image/food.jpg");
    background-repeat: no-repeat;
    background-size: 100% 800px;
}
.container{
    width: 500px;
    height: 550px;
    text-align: center;
    margin: 0 auto;
    background-color: rgba(16, 172, 132,0.8);
    margin-top: 160px;
}

.container img{
    width: 150px;
    height: 150px;
    margin-top: -60px;
}

input[type="text"],input[type="email"],input[type="password"]{
    margin-top: 10px;
    height: 45px;
    width: 300px;
    font-size: 18px;
    margin-bottom: 20px;
    background-color: #fff;
    padding-left: 40px; 
}

.form-input::before{
    content: "\f1a0";
    font-family: "FontAwesome";
    padding-left: 07px;
    padding-top: 15px;
    position: absolute;
    font-size: 35px; 
    color: #009432;
}
.form-input:nth-child(2):before{
    content: "\f023";
}

.form-input:nth-child(3):before{
    content: "C";
}

.form-input:nth-child(4):before{
    content: "C";
}

.btn-login{
    padding: 15px 25px;
    border: none;
    background-color: rgba(238, 90, 36,0.9);
}
